{% extends "blog/base.html" %}
{% load static %}

{% block css-file %}
<link href="{% static 'blog/mystyle/css/account-css.css' %}" rel="stylesheet">
{% endblock %}

{% block right-content %}
<div class="panel panel-default social-login">
    <div class="panel-heading">
        <h2 class="panel-title text-center">快速登录</h2>
    </div>
    <div class="panel-body text-center">
        <a href="/accounts/weibo/login/?process=login">
            <img src="{% static 'blog/img/weibo.ico'%}">
        </a>
        <a href="/accounts/github/login/?process=login">
            <img src="{% static 'blog/img/github.ico'%}">
        </a>
    </div>
</div>
{% endblock %}
