{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="panel panel-default login">
    <div class="panel-heading">
        <h2 class="panel-title text-center">{% trans "Sign In" %}</h2>
    </div>
    <div class="panel-body">
        <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button class="btn btn-info btn-sm" type="submit">{% trans "Sign In" %}</button>
            <a class="button secondaryAction pull-right" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?"%}</a>
        </form>
    </div>
</div>
{% endblock %}


