{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="panel panel-default password_reset_form_key">
    <div class="panel-heading">
        <h2 class="panel-title text-center">
            {% if token_fail %}{% trans "Bad Token" %}
            {% else %}{% trans "Change Password" %}{% endif %}
        </h2>
    </div>
    <div class="panel-body">
        {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a
            <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
        {% else %}
        {% if form %}
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" name="action" class="btn btn-info btn-sm" value="{% trans 'change password' %}"/>
        </form>
        {% else %}
        <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
