{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block head_title%}修改信息{% endblock%}

{% block content %}
<div class="container" id="oauth-account">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">修改资料</h3>
                </div>
                <div class="panel-body">
                    <form class="change_profile" method="post" enctype="multipart/form-data"
                          action="{% url 'oauth:change_profile'%}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-info btn-sm" type="submit">更新资料</button>
                    </form>
                </div>
                <div class="panel-footer text-center profile-more" id="social-login">
                    <div class="login-title">
                        <span>更多操作</span>
                    </div>
                    <div class="more-link">
                        <a class="btn btn-info btn-sm" href="{% url 'oauth:change_profile' %}">修改资料</a>
                        <a class="btn btn-info btn-sm" href="{% url 'account_change_password' %}">修改密码</a>
                        {% if user.is_staff %}
                        <a class="btn btn-info btn-sm" href="/admin/">后台管理</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


