{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% load blog_tags %}

{% block head_title%}个人中心{% endblock%}

{% block content %}
<div class="container" id="oauth-account">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">个人中心</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group" id="profile-infos">
                        <li class="list-group-item" id="user-avatar">
                            <p class="text-center">
                                <img class="img-thumbnail" src="{{ user.avatar.url }}">
                            </p>
                        </li>
                        <li class="list-group-item" id="user-nickname">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-4 col-xs-8 col-xs-offset-2">
                                    <span class="tab">昵&emsp;称：</span><span>{{ user.nickname }}</span>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" id="user-username">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-4 col-xs-8 col-xs-offset-2">
                                    <span class="tab">用户名：</span><span>{{ user.username }}</span>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" id="user-email">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-4 col-xs-8 col-xs-offset-2">
                                    <span class="tab">邮&emsp;箱：</span><span>{{ user.email|get_email_secret }}</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer text-center profile-more" id="social-login">
                    <div class="login-title">
                        <span>更多操作</span>
                    </div>
                    <div class="more-link">
                        <a class="btn btn-info btn-sm" href="{% url 'oauth:change_profile' %}">修改资料</a>
                        <a class="btn btn-info btn-sm" href="{% url 'account_change_password' %}">修改密码</a>
                        {% if user.is_staff %}
                        <a class="btn btn-info btn-sm" href="/admin/">后台管理</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
