<script>
    $(document).ready(function(){
        <!--点击评论中回复按钮的时候定位到评论框，设置回复的信息-->
        $('.btn-reply').click(function(){
            $('#id_content').val('');
            $('#cancel-reply').removeClass('hidden');
            var rep_id = $(this).attr('id');
            var rep_name = $(this).attr('data-name');
            var par_id = $(this).attr('data-parent');
            $('.rep-to').removeClass('hidden').attr('id',rep_id).attr('data-par',par_id);
            $('#rep-user').text(rep_name);
            $('html,body').animate({scrollTop:$('#com-form').offset().top-90},100)
        });

        <!--评论提交后将页面刷新，并且定位到新的评论处-->
        if(sessionStorage.getItem('has_point')){
            var top = $(sessionStorage.getItem('new_point')).offset().top-100;
            $('body,html').animate({scrollTop:top}, 200);
            window.location.hash = sessionStorage.getItem('new_point');
            sessionStorage.removeItem('has_point');
        };

        <!--点击取消回复的时候，删除回复的的信息-->
        $('#cancel-reply').click(function(){
            $('.rep-to').addClass('hidden').removeAttr("id").removeAttr("data-par");
            $('#rep-user').text('');
            $('#cancel-reply').addClass('hidden');
            $('#id_content').val('');
        });

        $('.cannot-rep').click(function(){
            alert("登录后才能回复")
        });

        <!--点击提交评论，发送ajax-->
        $('.comment-post').click(function(){
            var has_id = $('.rep-to').attr('id');
            if (has_id){
                var rep_id = has_id
            }
            else{
                var rep_id = 'base'
            }
            var has_parent = $('.rep-to').attr('data-par');
            if (has_parent){
                var parent_id = has_parent
            }
            else{
                var parent_id = 'base'
            }
            var belong_id = {{ article.id }}
            var content = $('#id_content').val();
            if (content.length == 0){
                alert("评论内容不能为空！");
                return false;
            }
            $.ajaxSetup({
                data: {csrfmiddlewaretoken:'{{ csrf_token }}'}
                });
            $.ajax({
                type:'post',
                url:"{% url 'comment:comment_view' article.id %}",
                data:{'rep_id':rep_id,'content':content,'belong':belong_id,'parent_id':parent_id},
                dataType:'json',
                success:function(ret){
                    <!--alert(ret.msg)-->
                    $('#id_content').val('');
                    sessionStorage.setItem('has_point',true);
                    sessionStorage.setItem('new_point', ret.new_point);
                    window.location.reload();
                },
                error:function(ret){
                    alert(ret.msg);
                }
            });
        });
    });
</script>