{% load blog_tags %}
{% load humanize %}
<div class="media article-item">
    <div class="media-left media-middle hidden-xs">
        <a href="{{ article.get_absolute_url }}" target="_blank">
            <img class="media-object img-rounded" src="{{ article.img_link }}" alt="img_{{ article.id }}">
        </a>
    </div>
    <div class="media-body">
        <a class="article-title" href="{{ article.get_absolute_url }}">
            <h4 class="media-heading" ><strong>{{ article.title }}</strong></h4>
        </a>
        <ul class="list-inline small article-infos info-top">
            <li class="article-author"><i class="glyphicon glyphicon-user"></i> {{ article.author }}</li>
            <li class="article-create-date">
                <i class="glyphicon glyphicon-time"></i> {{ article.create_date|naturaltime}}
            </li>
        </ul>
        <p>{{ article.summary|truncatechars:130 }}</p>
        <ul class=" list-inline small article-infos info-bottom">
            <li>
                <a class="article-category" href="{{ article.category.get_absolute_url }}" title="查看当前分类下更多文章">
                    <i class="glyphicon glyphicon-th-list"></i> {{ article.category }}</a>
            </li>
            <li class="article-views"><i class="glyphicon glyphicon-eye-open"></i> {{ article.views }}</li>
            <li>
                <a class="article-comments" href="{{ article.get_absolute_url }}#comment-main-block" title="查看文章评论">
                    <i class="glyphicon glyphicon-comment"></i> {{ article.comments }}</a>
            </li>
        </ul>
    </div>
</div>