<footer>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="text-center">
                    <p>Copyright&nbsp;©&nbsp;2017&nbsp;<a href="https://github.com/Hopetree" target="_blank" title="前往博主的Github">Hopetree</a>&nbsp;|&nbsp;Powered&nbsp;by&nbsp;Django</p>
                    <p>
                        <a href="http://www.miibeian.gov.cn/" target="_blank">粤ICP备17114114号</a>
                        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1271548398'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1271548398%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
                    </p>
                </div>
            </div>
        </div>
        </div>
    </nav>
</footer>