/*通用设置+++++++++++++++++++++++++++++++++++++++++++++++++*/
span.asteriskField {
    color: red;
}
a {
    color: #3498db;
}
a:hover {
    color: #2ecc71;
}

/*signup+++++++++++++++++++++++++++++++++++++++++++++++++*/
.social-login a{
    padding:0 10px;
}