/*网站背景色+++++++++++++++++++++++++++++++++++++++++++++++*/
body {
background-color:#eee;
padding-top:80px;
}

/*通用设置+++++++++++++++++++++++++++++++++++++++++++++++++*/
a {
    color:#333;
}
a:hover {
    color:#1abc9c;
    text-decoration: none;
}
.panel {
    border:none;
    border-radius: none;
}
.panel > .panel-heading {
    color: #fff;
    background-color: #34495e;
}
.asteriskField {
    color:red;
}
.messages {
    padding-left:0;
}
/*导航栏++++++++++++++++++++++++++++++++++++++++++++++++++*/
.navbar-fixed-top {
    background-color: #34495e;
    font-size: 15px;
}
.navbar-brand{
    padding:0 0 0 10px;
}
.navbar-inverse .navbar-toggle {
    border-color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-weight: 700;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #1abc9c;
}
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
    opacity:.7;
}
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-toggle:focus {
    background-color: #1abc9c;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #16a085;
}

/*页脚样式+++++++++++++++++++++++++++++++++++++++++++++++++*/
footer .navbar {
    border-radius: 0;
    border: none;
    background-color: #2c3e50;
    font-size: 15px;
    color:#fff;
    margin:20px 0 0 0;
    padding:10px 0 0 0;
}
footer .navbar a {
    color: #fff;
}
footer .navbar a:hover {
    color:#1abc9c;
    text-decoration:none;
}
/*个人信息+++++++++++++++++++++++++++++++++++++++++++++++*/
.user-infos .list-group {
    padding:10px 15px;
}
.profile .list-group-item,
.user-infos .list-group-item {
    border:none;
}
.user-infos a {
    margin:10px 0px;
    padding:5px 100px;
}

.change_profile a {
    color: #3498db;
}
.change_profile a:hover {
    color: #2ecc71;
}
