{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{% block head_title %}{% endblock %} - stopfollow博客</title>
    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--my css files-->
    <link href="{% static 'blog/mystyle/css/base-css.css' %}" rel="stylesheet">
    {% block css-file %}{% endblock %}
    <link rel="icon" href="{% static 'blog/img/favicon.ico'%}">
    <meta name="description" content="{{ site_description }}">
    <meta name="keywords" content="{{ site_keywords }}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--导航栏-->
{% include 'blog/tags/navbar.html' %}
<!--导航结束-->

<!--主要内容-->
<div class="container">

    <!--消息弹框-->
    {% if messages %}
    <ul class="messages text-center">
        {% for message in messages %}
        <div {% if message.tags %} class="{{ message.tags }}" {% endif %} role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}
    </ul>
    {% endif %}
    <!--消息弹框结束-->

    <div class="row">
        <div class="col-md-8 main-box">
            {% block content %}{% endblock %}
        </div>
        <div class="col-md-4 right-box">
            {% block right-content %}{% endblock %}
        </div>
    </div>
</div>
<!--主要内容结束-->

<!-- 页脚开始 -->
{% block footer%}{% endblock %}
<!--页脚结束-->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--my js files-->
{% block js-file %}
<script src="{% static 'blog/mystyle/js/base-js.js'%}"></script>
{% endblock %}
</body>
</html>